@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Kanit:ital,wght@1,700&family=Merienda:wght@700&display=swap');

.rounded-border {
    max-width: 35%;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
}

.jumbotron{
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    max-width: 100%;
    max-height: 100%;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card1 {
    margin: 20px;
}

.mg1 {
    margin: 20px;
}

.navbar {
    background-color: #B4C8FF;
}

.img1 {
    border-radius: 50%;
    max-width: 30%;
}

.img2 {
    max-width: 100%;
}
.spacer {
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.background1 { 
    background: linear-gradient(359.74deg, #2542A9 0.21%, #B4C8FF 99.76%);        

}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px;
}

.layer-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.layer-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

.layer-1 .shape-fill {
    fill: #FFFFFF;
}

.font1 {
    font-family: 'Kanit', sans-serif;
    font-size: large;
}

.font2 {
    font-family: 'IBM Plex Sans', sans-serif;
    
}

.font3 {
    font-family: 'Merienda', cursive;
}

div.card {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    max-width: 100%;
  }
  
.layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.layer-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
    transform: rotateY(180deg);
}

.layer-2 .shape-fill {
    fill: #FFFFFF;
}

.layer-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.layer-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.layer-3 .shape-fill {
    fill: #FFFFFF;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(35, 92, 215); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  @media (max-width: 575.98px) {
    .responsive {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    .perbesar {
        font-size: 15px;
        margin-left: 7px;
    }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .responsive {
        width: 100%;
        max-width: 410px;
        height: auto;
    }
    .perbesar {
        font-size: 15px;
        margin-left: 12px;
    }
  

  @media (min-width: 768px) and (max-width: 991.98px) {
    .responsive {
        width: 100%;
        max-width: 430px;
        height: auto;
    }
    .perbesar {
        font-size: 17px;
        margin-left: 15px;
    }
  

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .responsive {
        width: 100%;
        max-width: 450px;
        height: auto;
    }
    

  @media (min-width: 1200px) {
    .responsive {
        width: 100%;
        max-width: 420px;
        height: auto;
    }
}